@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root{
    --fontmaincolor: #6e5924;
    --fontpcolor: #353535;
    --footercolor: #1F2A13;
    --footercolorshadow: #606C38;
    --backgroundcolor: #EBEBEB;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--backgroundcolor);
}
/* HEADER */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px 0 150px;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: 10;
    margin: 0 auto;
}
.header a {
    text-decoration: none;
    color: #fff;
}
.header-logo {
    color: var(--fontmaincolor);
    filter: drop-shadow(3px 3px 4px black);
}
#header-logo-xs{
    display: none;
}
.navbar-menu {
    list-style: none;
    display: flex;
    gap: 25px;
}
.navbar-menu li{
    transition: all 0.5s ease;
}
.navbar-menu li:hover{
    scale: 120%;
}
.navbar-menu li a{
    text-decoration: none;
    text-shadow: 1px 1px 3px var(--backgroundcolor), 5px 5px 15px, 5px 5px 8px var(--backgroundcolor), -1px -1px 3px var(--backgroundcolor), -5px -5px 8px var(--backgroundcolor);
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--fontmaincolor);
    font-style: italic;
    font-weight: 600;
}
#toggler,
.header label {
    display: none;
}
#hr{
    border-style: solid;
    height: 2px;
    margin: 20px 100px;
    background-color: var(--footercolorshadow);
    color: var(--footercolorshadow);
    box-shadow: 3px 3px 10px var(--footercolorshadow);
}
.hr-divider {
    margin-block: 15px;
    border: none;
    border-top: 2px solid rgba(252, 255, 255, .1);
}
/* MAIN */
.main-foto{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 25px var(--backgroundcolor);
    width: 100%;
    height: 470px;
    margin: 30px 0;
}
.main-h{
    color: var(--fontpcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 100px;
}
.main-h1{
    text-align: center;
    padding: 30px;
    font-style: italic;
    text-shadow: 2px 2px 5px var(--fontpcolor);
}
.main-h2{
    font-size: 18px;
    text-align: justify;
}
.section-page{
    margin: 0 100px;
}
/* FOOTER */
.footer {
    padding: 50px 50px 0 50px;
    background-color: var(--footercolor);
    box-shadow: 2px -5px 40px var(--footercolorshadow);
    color: var(--backgroundcolor);
}
.footer p{
    font-size: 14px;
}
.footer-container {
    margin: auto;
    padding: 0 30px;
    overflow: auto;
}
.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.footer-top-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;  
    margin: 12px 0; 
}
.footer-title{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin: 12px 0;
}
.footer-logo{
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    filter: drop-shadow(3px 3px 4px black);
    filter: invert(100%);
} 
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}
.footer-list-item {
    list-style: none;
    font-size: 14px;
}
.footer-bottom {
    padding-bottom: 20px;
}
/* FIXED ICONS */
.icon{
    position: fixed;
    z-index: 20;
    transition: all 0.3s ease;
}
.icon-whatsapp{
    bottom: 28px;
    right: 15px;
    filter: drop-shadow(3px 3px 4px black);
}
.icon-instagram{
    bottom: 130px;
    right: 15px;
    filter: drop-shadow(3px 3px 4px black);
}
.icon-facebook{
    bottom: 232px;
    right: 15px;
    filter: drop-shadow(3px 3px 4px black);
}
.icon-linkedin{
    bottom: 334px;
    right: 15px;
    filter: drop-shadow(3px 3px 4px black);
}
.icon-whatsapp:hover, .icon-instagram:hover, .icon-linkedin:hover, .icon-facebook:hover{
    scale: 130%;
}
/* PAGE 1 INDEX */
    /* MAIN */
.main-foto-home{
    background-image: url("../assets/GSH\ foto01.jpg");
}
.main-div{
    display: flex;
    justify-content: space-around;
    padding: 30px 100px;
}
.main-div img:hover{
    scale: 120%;
}
    /* SECTION */
.section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 10px;
    height: auto;
    width: auto;
}
.section-divfoto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-foto{
    width: 400px;
    padding: 30px;
    height: auto;
    background-size: cover;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.section-container-text{
    display: flex;  
    flex-direction: column;
    justify-content: center;
}
.section-text{
    text-align: justify;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-text p{
    color: var(--fontpcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
/* PAGINA 2 SERVICES */
.main-foto-services{
    background-image: url("../assets/GSH\ foto04a.jpg");
}
.face-span{
    margin: 56px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
}
.container-exp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 100px;
}
.container-exp .card-exp{
    position: relative;
    cursor: pointer;
}
.container-exp .card-exp .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container-exp .card-exp .face.face1{
    position: relative;
    background: #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(60px);
}
.container-exp .card-exp:hover .face.face1{
    background: #606C38;
    transform: translateY(0);
}
.container-exp .card-exp .face.face1 .content-exp{
    opacity: 1;
    transition: 0.5s;
}
.container-exp .card-exp:hover .face.face1 .content-exp{
    opacity: 1;
}
.container-exp .card-exp .face.face1 .content-exp{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}
.container-exp .card-exp .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-60px);
}
.container-exp .card-exp:hover .face.face2{
    transform: translateY(0);
}
.container-exp .card-exp .face.face2 .content-exp p{
    margin: 0;
    padding: 0;
}
.container-exp .card-exp .face.face2 .content-exp a{
    margin: 56px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
}
/*  PAGINA 3 EXPERIENCE */
.main-foto-experience{
    background-image: url("../assets/GSH\ foto02a.jpg");
}
.blog-post {
    display: flex;
    align-items: center;
    max-width: 90rem;
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    margin: 100px;
}
.blog-post__img {
    position: relative;
    min-width: 20rem;
    max-width: 18rem;
    height: 23rem;
    transform: translateX(-6rem);
}
.blog-post__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-post__img::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
    opacity: 0.5;
}
.active2 {
    background-color: #717171;
}
.blog-post__date span {
    display: block;
    color: #8e8c8c;
    font-weight: 600;
    margin: 0.5rem 0;
}
.blog-post__title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: var(--fontpcolor)
}
.blog-post__text{
        text-align: justify;
        display: flex;
        align-items: center;
}
.blog-post__info p {
    color: rgba(0, 0, 0, 0.7);
}
#hr-experience{
    margin: 20px 100px;
}
#experience-review {
    font-family: sans-serif;
    margin: auto;
    background-image: linear-gradient(to bottom, #606c38, #9f8061, #c49e9b, #d4c4cd, #ebebeb);
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
#experience-review>ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#experience-review>ul.review {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
}
#experience-review>ul.review h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    display: flex;
}
#experience-review>ul.review li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: var(--backgroundcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#experience-review>ul.review li:first-child {
    opacity: 1;
}
#experience-review>ul.review li:target {
    opacity: 1;
}
#experience-review>.menu {
    text-align: center;
    margin: 20px;
    padding: 0 5px;
}
#experience-review>.menu li {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}
#experience-review>.menu li a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--footercolorshadow);
    padding: 10px;
    width: 3px;
    height: 3px;
    font-size: 20px;
    border-radius: 100%;
}
#experience-review>.menu li a:hover{
    scale: 130%;
    background-color: var(--footercolor);
}
.experience-image, .review-image1{
    background-image: url("../assets/Experience/reseña01.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.review-image2{
    background-image: url("../assets/Experience/reseña02.jpg");
}
.review-image3{
    background-image: url("../assets/Experience/reseña03.jpg");
}
.checked {
    color: orange;
}
/* PAGINA 4 GALLERY */
.main-foto-gallery{
    background-image: url("../assets/GSH\ foto05a.jpg");
}
/* lightboxs */
.row > .column {
    padding: 0 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 20%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000f2;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1100px;
}
.modal-content2 {
    max-width: 480px;
}
.modal-content3, .modal-content4{
    max-width: 800px;
}
.close {
    color: white;
    position: absolute;
    top: 50px;
    right: 60px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.mySlides, .mySlides2, .mySlides3, .mySlides4 {
    display: none
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
} 
img.demo, img.demo2, img.demo3, img.demo4 {
    opacity: 0.6;
}
.actives,
.demo:hover, .demo2:hover, .demo3:hover, .demo4:hover {
    opacity: 1;
}
img.hover-shadow {
    transition: 0.3s;
} 
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* gallery-cards */
.gallery-cards{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}
.phce {
    perspective: 1000px;
    position: relative;
    margin:30px;
}
.phce-a{
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.phce .content {
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}
.phce .content::before, .phce .content::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transform-style: preserve-3d;
}
.phce .content::before {
    background-image: var(--bg-image);
    background-size: cover;
}
.phce .content::after {
    background: var(--bg-overlay, none);
}
.phce:hover > .content::before {
    transform: scale(1.33) translateX(calc(-12.5% * var(--posX, 0))) translateY(calc(-12.5% * var(--posY, 0)));
}
.phce:hover > .content {
    transform: rotateX(calc(22.5deg * var(--posY, 0))) rotateY(calc(-22.5deg * var(--posX, 0)));
}
.phce:not(:hover) > .content, .phce:not(:hover) > .content::before {
    transition: transform var(--transition-duration, 500ms) var(--transition-timing-function, linear);
}
.card {
    width: min(500px, 100%);
} 
.card-1 {
    --bg-image: url(../assets/gallery/berdoom.jpg) ;
}
.card-2 {
    --bg-image: url(../assets/gallery/garden.jpg) ;
}
.card-3 {
    --bg-image: url(../assets/gallery/pool.jpg  ) ;
}
.card-4 {
    --bg-image: url(../assets/gallery/facilities.jpg) ;
}
.content {
    display: grid;
    place-items: center;
    min-height: 16rem;
    padding: 2rem;
    border-radius: 1rem;
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    color: white;
    --bg-overlay: rgb(0 0 0 / .5);
}
.gallery-article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery-video{
    width: 50%;
    display: flex;
    justify-content: center;  
    margin-bottom: 50px;
}
.gallery-video iframe{
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); 
}
.section-container-text-gallery{
    margin-bottom: 40px;
}
.btn{
    display: flex;
    justify-content: space-around;
}
.btn-input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 10px;
    background-color: var(--footercolorshadow);
    color: white;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}
.btn-input:hover{
    color: white;
    background-color: var(--fontmaincolor);
    scale: 120%;
}
/* PAGINA 5 CONTACT */
.main-foto-contact{
    background-image: url("../assets/GSH\ foto03a.jpg");
}
.contact-board{
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #fff;
    margin: 100px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); 
}
.contact-board div{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.contact-board-div{
    border-right: 1px solid var(--fontpcolor);
    border-left: 1px solid var(--fontpcolor);    
}
.contact-board div img{
    width: 48px;
    height: 48px;
    padding: 20px;
    filter: drop-shadow( 1px 1px 10px var(--fontpcolor));
}
.contact-board-booking{
    list-style: none;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
.contact-board-booking:hover, .contact-board-social div img:hover{
    scale: 120%;
}
.contact-article-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
}
.contact-article-form-img{
    margin: 2em;
}
.contact-form{
    margin: 2em;
    background-color: var(--footercolorshadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "name last-name"
    "email email"
    "telephone telephone"
    "comment comment"
    "comment comment"
    "comment comment"
    ". btn" ;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); 
}
.form-name{
    grid-area: name;
}
.form-last-name{
    grid-area: last-name;
}
.form-email{
    grid-area: email;
}
.form-telephone{
    grid-area: telephone;
}
.form-comment{
    grid-area: comment;
}
.form-btn{
    grid-area: btn;
}
.contact-form>input,
.contact-form>textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    padding: 15px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.contact-form>input,
.contact-form>textarea,
.contact-form>button {
    display: block;
}
::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::placeholder { color: white; }
#textarea {
    margin-bottom: 30px
}
#btn{
    margin-right: 0; 
    margin-left: auto;
    background: none;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btn a{
    color: white;
    font-size: 1rem;
}
#btn a:hover {
    color: #000000;
    font-weight: 600;
}
.contact-section-text{
    margin: 0 100px;
}
.contact-iframe{
    margin: 0 30px;
    box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
}
/* ANIMATIONS */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {letter-spacing: -0.5em;
        opacity: 0;}
    40% {opacity: 0.6;}
    100% {opacity: 1;}
}
@keyframes tracking-in-expand {
    0% {letter-spacing: -0.5em;
        opacity: 0;}
    40% {opacity: 0.6;}
    100% {opacity: 1;}
}
.fade-in-right {
	-webkit-animation: fade-in-right 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.5s both;
        animation: fade-in-right 2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.5s both;
}
@-webkit-keyframes fade-in-right {
    0% {-webkit-transform: translateX(50px);
            transform: translateX(50px);
        opacity: 0;}
    100% {-webkit-transform: translateX(0);
            transform: translateX(0);
        opacity: 1;}
}
@keyframes fade-in-right {
    0% {-webkit-transform: translateX(50px);
            transform: translateX(50px);
        opacity: 0;}
    100% {-webkit-transform: translateX(0);
            transform: translateX(0);
        opacity: 1;}
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .header{
        padding: 20px 80px 0 80px; }
    #hr{
        margin: 20px 50px;}
    .main-h, .section-page{
        margin: 0 40px; }
    .navbar {
        width: 100%;
        max-height: 0;
        overflow: hidden; }
    .navbar-menu {
        flex-direction: column;
        align-items: center;
        padding: 20px; }
    .header label {
        display: inline-flex;
        align-items: center;
        cursor: pointer; }
    #toggler:checked ~ .navbar {
        max-height: 100%; }
    .gallery-article{
        flex-direction: column;
        align-items: center; }
}
@media (min-width:768px) and (max-width: 992px){
    .section{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr; }
    .blog-post {
        max-width: 70rem;
        margin: 100px;
        padding: 1.5rem;}
    .blog-post__img {
        min-width: 18rem;
        max-width: 16rem;}
    .main-h, .section-page{
        margin: 0 10px;}
    .contact-board{
        margin: 40px; }
    .contact-section-text{
        margin: 0 40px; }
    .contact-article-form{
        flex-direction: column;
        align-items: center; }
}
@media (max-width:768px) {
    .section{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr; }
    .container-exp{
        column-gap: 50px; }
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
        max-width:600px;  }  
    .blog-post__img {
        min-width: 24rem;
        max-width: 24rem;
        transform: translate(0, -5rem); }
    .contact-article-form{
        flex-direction: column;
        align-items: center; }
    .main-h, .section-page{
        margin: 0 10px;}
    .footer-top{
        justify-items: center;
        margin-bottom: 30px; }
    .footer-list-item{
        text-align: center; } 
    .contact-board{
        flex-direction: column;
        margin:40px; }
    .contact-section-text{
        margin: 0 40px; }
    .contact-board-div{
        border-top: 1px solid var(--fontpcolor);
        border-bottom: 1px solid var(--fontpcolor); 
        border-left: 0;
        border-right: 0; }
    .iconos-s{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 10px; }
    .icon{
        position:initial; }
    .contact-iframe-p{
        display: none; }
    .contact-iframe{
        width: 400px;
        height: 250px; }
}
@media (max-width:576px){
    .header{
        padding: 20px 20px 0 20px; }
    #hr{
        margin: 20px 20px;}
    #header-logo-xl{
        display: none; }
    #header-logo-xs{
        display: block; }
    .section-foto{
        width: 300px;
        padding: 15px; }
    .section-text{
        padding: 30px 20px; }
    .main-h, .section-page{
        margin: 0 10px; }
    .footer{
        padding: 50px 20px 0 20px; }
    .blog-post{
        margin: 130px 20px;
        padding: 0.5rem; }
    .btn-input{
        margin-bottom: 0; }
    .main-div{
        gap: 15px; }
    #br{
        display: none; }     
}