@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.icon-linkedin, .icon-facebook, .icon-instagram, .icon-whatsapp {
  position: fixed;
  right: 15px;
  z-index: 20;
  transition: all 0.3s ease;
  filter: drop-shadow(3px 3px 4px black);
}
.icon-linkedin:hover, .icon-facebook:hover, .icon-instagram:hover, .icon-whatsapp:hover {
  scale: 130%;
}

.main-foto-contact, .main-foto-gallery, .main-foto-experience, .main-foto-services, .main-foto-home {
  background: no-repeat fixed bottom;
  background-size: cover;
  box-shadow: inset 2px 2px 25px #EBEBEB;
  width: 100%;
  height: 470px;
  margin: 30px 0;
}

.main-h2, .main-h1 {
  color: #353535;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: backgroundcolor #EBEBEB;
}

.main-h1 {
  text-align: center;
  padding: 30px;
  font-style: italic;
  text-shadow: 2px 2px 5px #353535;
}

.main-h2 {
  font-size: 18px;
}

.section-page {
  margin: 0 100px;
}

p, h2 {
  text-indent: 32px;
  text-align: justify;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  z-index: 10;
  padding: 20px 150px 0 150px;
  margin: 0 auto;
}
.header a {
  text-decoration: none;
  color: #fff;
}

.header-logo {
  color: #6e5924;
  filter: drop-shadow(3px 3px 4px black);
}

#header-logo-xs {
  display: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}
.navbar-menu li {
  transition: all 0.5s ease;
}
.navbar-menu li:hover {
  scale: 120%;
}
.navbar-menu li a {
  text-decoration: none;
  text-shadow: 1px 1px 3px #EBEBEB, 5px 5px 15px, 5px 5px 8px #EBEBEB, -1px -1px 3px #EBEBEB, -5px -5px 8px #EBEBEB;
  cursor: pointer;
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #6e5924;
  font-style: italic;
  font-weight: 600;
}

#toggler, .header label {
  display: none;
}

#hr {
  border-style: solid;
  height: 2px;
  margin: 20px 100px;
  background-color: #606C38;
  color: #606C38;
  box-shadow: 3px 3px 10px #606C38;
}

.hr-divider {
  margin: 12px 0;
  border: none;
  border-top: 2px solid rgba(252, 255, 255, 0.1);
}

.footer {
  padding: 50px 80px 0 80px;
  background-color: #1F2A13;
  box-shadow: 2px -5px 40px #606C38;
  color: #EBEBEB;
}
.footer p {
  font-size: 14px;
}

.footer-container {
  overflow: auto;
  padding: 0 30px;
  margin: auto;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.footer-top-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 12px 0;
}

.footer-title {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin: 12px 0;
}

.footer-logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  filter: drop-shadow(3px 3px 4px black);
  filter: invert(100%);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.footer-list-item {
  list-style: none;
  font-size: 14px;
}

.footer-bottom {
  padding-bottom: 20px;
}

.icon-whatsapp {
  bottom: 28px;
}

.icon-instagram {
  bottom: 130px;
}

.icon-facebook {
  bottom: 232px;
}

.icon-linkedin {
  bottom: 334px;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-right {
  -webkit-animation: fade-in-right 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s both;
  animation: fade-in-right 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.main-foto-home {
  background-image: url("../assets/GSH foto01.jpg");
}

.main-div {
  display: flex;
  justify-content: space-around;
  padding: 30px 100px;
}
.main-div img:hover {
  scale: 120%;
}

/* SECTION */
.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 30px;
  height: auto;
  width: auto;
}

.section-divfoto {
  display: fl-start flex-start;
  justify-content: center;
  align-items: center;
}

.section-foto {
  width: 400px;
  padding: 30px;
  height: auto;
  background-size: cover;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.section-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-text {
  text-align: justify;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-text p {
  color: #353535;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.main-foto-services {
  background-image: url("../assets/GSH foto04a.jpg");
}

.face-span {
  padding: 5px;
  margin: 56px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
}

.container-exp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 100px;
}

.container-exp .card-exp {
  position: relative;
  cursor: pointer;
}

.container-exp .card-exp .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container-exp .card-exp .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(60px);
}

.container-exp .card-exp:hover .face.face1 {
  background: #606C38;
  transform: translateY(0);
}

.container-exp .card-exp .face.face1 .content-exp {
  opacity: 1;
  transition: 0.5s;
}

.container-exp .card-exp:hover .face.face1 .content-exp {
  opacity: 1;
}

.container-exp .card-exp .face.face1 .content-exp {
  padding: 0;
  margin: 10px 0 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.container-exp .card-exp .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-60px);
}

.container-exp .card-exp:hover .face.face2 {
  transform: translateY(0);
}

.container-exp .card-exp .face.face2 .content-exp p {
  padding: 0;
  margin: 0;
}

.container-exp .card-exp .face.face2 .content-exp a {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  margin: 56px 0 0;
}

.main-foto-experience {
  background-image: url("../assets/GSH foto02a.jpg");
}

.blog-post {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 22px 128px rgba(0, 0, 0, 0.2);
  margin: 100px;
}

.blog-post__img {
  position: relative;
  min-width: 320px;
  max-width: 288px;
  height: 368px;
  transform: translateX(-96px);
}
.blog-post__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-post__img img::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  opacity: 0.5;
}

.active2 {
  background-color: #717171;
}

.blog-post__date span {
  display: block;
  color: #8e8c8c;
  font-weight: 600;
  margin: 8px 0;
}

.blog-post__title {
  font-size: 40px;
  margin: 24px 0 32px;
  text-transform: uppercase;
  color: var(--fontpcolor);
}

.blog-post__text {
  text-align: justify;
  display: flex;
  align-items: center;
}

.blog-post__info p {
  color: rgba(0, 0, 0, 0.7);
}

#hr-experience {
  margin: 20px 100px;
}

#experience-review {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #606c38, #9f8061, #c49e9b, #d4c4cd, #ebebeb);
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  margin: auto;
}

#experience-review > ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#experience-review > ul.review {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

#experience-review > ul.review h1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  display: flex;
}

#experience-review > ul.review li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#experience-review > ul.review li:first-child {
  opacity: 1;
}
#experience-review > ul.review li:target {
  opacity: 1;
}

#experience-review > .menu {
  text-align: center;
  padding: 0 5px;
  margin: 20px;
}
#experience-review > .menu li {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
}
#experience-review > .menu li a {
  display: inline-block;
  text-decoration: none;
  background-color: #606C38;
  padding: 10px;
  width: 3px;
  height: 3px;
  font-size: 20px;
  border-radius: 100%;
}
#experience-review > .menu li a:hover {
  scale: 130%;
  background-color: #1F2A13;
}

.experience-image, .review-image1 {
  background-image: url("../assets/Experience/reseña01.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.review-image2 {
  background-image: url("../assets/Experience/reseña02.jpg");
}

.review-image3 {
  background-image: url("../assets/Experience/reseña03.jpg");
}

.checked {
  color: orange;
}

.main-foto-gallery {
  background-image: url("../assets/GSH foto05a.jpg");
}

/* lightboxs */
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9490196078);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 0;
  margin: auto;
  width: 90%;
  max-width: 1100px;
}

.modal-content2 {
  max-width: 480px;
}

.modal-content3, .modal-content4 {
  max-width: 800px;
}

.close {
  color: #fff;
  position: absolute;
  top: 50px;
  right: 60px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides, .mySlides2, .mySlides3, .mySlides4 {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: #fff;
}

img.demo, img.demo2, img.demo3, img.demo4 {
  opacity: 0.6;
}

.actives,
.demo:hover, .demo2:hover, .demo3:hover, .demo4:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* gallery-cards */
.gallery-cards {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.phce {
  perspective: 1000px;
  position: relative;
  margin: 30px;
}

.phce-a {
  font-family: system-ui, sans-serif;
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.phce .content {
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
}

.phce .content::before, .phce .content::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform-style: preserve-3d;
}

.phce .content::before {
  background-image: var(--bg-image);
  background-size: cover;
}

.phce .content::after {
  background: var(--bg-overlay, none);
}

.phce:hover > .content::before {
  transform: scale(1.33) translateX(calc(-12.5% * var(--posX, 0))) translateY(calc(-12.5% * var(--posY, 0)));
}

.phce:hover > .content {
  transform: rotateX(calc(22.5deg * var(--posY, 0))) rotateY(calc(-22.5deg * var(--posX, 0)));
}

.phce:not(:hover) > .content, .phce:not(:hover) > .content::before {
  transition: transform var(--transition-duration, 500ms) var(--transition-timing-function, linear);
}

.card {
  width: min(500px, 100%);
}

.card-1 {
  --bg-image: url(../assets/gallery/bedroom.jpg) ;
}

.card-2 {
  --bg-image: url(../assets/gallery/garden.jpg) ;
}

.card-3 {
  --bg-image: url(../assets/gallery/pool.jpg) ;
}

.card-4 {
  --bg-image: url(../assets/gallery/facilities.jpg) ;
}

.content {
  display: grid;
  place-items: center;
  min-height: 256px;
  padding: 32px;
  border-radius: 16px;
  font-family: system-ui, sans-serif;
  font-size: 32px;
  color: #fff;
  --bg-overlay: rgb(0 0 0 / .5);
}

.gallery-article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-video {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.gallery-video iframe {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.section-container-text-gallery {
  margin-bottom: 40px;
}

.btn {
  display: flex;
  justify-content: space-around;
}

.btn-input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 10px;
  background-color: #606C38;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
.btn-input:hover {
  background-color: #6e5924;
  scale: 120%;
}

.main-foto-contact {
  background-image: url("../assets/GSH foto03a.jpg");
}

.contact-board {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #fff;
  margin: 50px 100px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.contact-board div {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.contact-board-div {
  border-right: 1px solid #353535;
  border-left: 1px solid #353535;
}

.contact-board-booking {
  list-style: none;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}
.contact-board-booking:hover {
  scale: 120%;
}

.contact-article-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact-article-form-img {
  margin: 32px;
}

.contact-form {
  margin: 32px;
  background-color: #606C38;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "name last-name" "email email" "telephone telephone" "comment comment" "comment comment" "comment comment" ". btn";
  padding: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.form-name {
  grid-area: name;
}

.form-last-name {
  grid-area: last-name;
}

.form-email {
  grid-area: email;
}

.form-telephone {
  grid-area: telephone;
}

.form-comment {
  grid-area: comment;
}

.form-btn {
  grid-area: btn;
}

.contact-form > input,
.contact-form > textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: #fff;
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
}

.contact-form > input,
.contact-form > textarea,
.contact-form > button {
  display: block;
  resize: none;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

#textarea {
  margin-bottom: 30px;
}

#btn {
  margin-right: 0;
  margin-left: auto;
  background: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 16px;
}
#btn:hover {
  color: black;
  font-weight: 600;
}

.contact-section-text {
  margin: 0 100px;
}

.contact-iframe {
  margin: 0 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 80px 0 80px;
  }
  #hr {
    margin: 20px 50px;
  }
  .section-page {
    margin: 0 40px;
  }
  .navbar {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .navbar-menu {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .header label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .navbar {
    max-height: 100%;
  }
  .gallery-article {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .section {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    row-gap: 0px;
  }
  .blog-post {
    max-width: 1120px;
    padding: 24px;
    margin: 100px;
  }
  .blog-post__img {
    min-width: 256px;
    max-width: 288px;
  }
  .section-page {
    margin: 0 40px;
  }
  .contact-board {
    margin: 40px;
  }
  .contact-section-text {
    margin: 0 40px;
  }
  .contact-article-form {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    row-gap: 0px;
  }
  .container-exp {
    column-gap: 50px;
  }
  .blog-post {
    padding: 40px;
    flex-direction: column;
    max-width: 600px;
  }
  .blog-post__img {
    min-width: 384px;
    max-width: 384px;
    transform: translate(0, -80px);
  }
  .contact-article-form {
    flex-direction: column;
    align-items: center;
  }
  .section-page {
    margin: 0 40px;
  }
  .footer-top {
    justify-items: center;
    margin-bottom: 30px;
  }
  .footer-list-item {
    text-align: center;
  }
  .contact-board {
    flex-direction: column;
    margin: 40px;
  }
  .contact-section-text {
    margin: 0 40px;
  }
  .contact-board-div {
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
    border-left: 0;
    border-right: 0;
  }
  .iconos-s {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
  }
  .icon-linkedin, .icon-facebook, .icon-instagram, .icon-whatsapp {
    position: initial;
  }
  .contact-iframe-p {
    display: none;
  }
  .contact-iframe {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 20px 20px 0 20px;
  }
  #hr {
    margin: 20px 20px;
  }
  #header-logo-xl {
    display: none;
  }
  #header-logo-xs {
    display: block;
  }
  .section-foto {
    width: 300px;
    padding: 15px;
  }
  .section-text {
    padding: 30px 20px;
  }
  .section-page {
    margin: 0 10px;
  }
  .footer {
    padding: 50px 20px 0 20px;
  }
  .blog-post {
    padding: 8px;
    margin: 130px 20px;
  }
  .btn-input {
    margin-bottom: 0;
  }
  .main-div {
    gap: 15px;
  }
  #br {
    display: spc-around space-around;
  }
}

/*# sourceMappingURL=styles.css.map */
