.main-foto-contact{
    background-image: url("../assets/GSH\ foto03a.jpg");
}
.contact-board{
    display: nth($display-form, 1);
    flex-direction: row;
    height: auto;
    background-color: map-get($colores , alink);
    margin: $marg-contact-board;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); 
    div{
        display: nth($display-form , 1);
        flex-direction: column;
        width: 90%;
        justify-content: map-get($posicion-content , cent);
        align-items: map-get($posicion-content , cent);
        margin: auto;
        padding: 10px;
    }
}
.contact-board-div{
    border-right: 1px solid map-get($colores , fontpcolor);
    border-left: 1px solid map-get($colores , fontpcolor);    
}
.contact-board-booking{
    list-style: none;
    text-decoration: none;
    color: map-get($colores , shadowcolor);
    transition: all 0.3s ease;
    &:hover{
        scale: 120%;
    }
}
.contact-article-form{
    display: nth($display-form , 1);
    flex-direction: row;
    justify-content: map-get($posicion-content , cent);
    width: 100%; 
}
.contact-article-form-img{
    margin: $marg-contact-article-form-img;
}
.contact-form{
    margin: $marg-contact-form;
    background-color: map-get($colores , footercolorshadow);
    display: nth($display-form , 2);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "name last-name"
    "email email"
    "telephone telephone"
    "comment comment"
    "comment comment"
    "comment comment"
    ". btn" ;
    padding: $pad-contact-form;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); 
}
.form-name{
    grid-area: name;
}
.form-last-name{
    grid-area: last-name;
}
.form-email{
    grid-area: email;
}
.form-telephone{
    grid-area: telephone;
}
.form-comment{
    grid-area: comment;
}
.form-btn{
    grid-area: btn;
}
.contact-form>input,
.contact-form>textarea {
    font-family: $font-contact-form;
    font-size: $ftn-16;
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color: map-get($colores , alink);
    padding: 15px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.contact-form>input,
.contact-form>textarea,
.contact-form>button {
    display: nth($display-form , 5);
    resize: none;
}
::-webkit-input-placeholder { color: white; }
:-ms-input-placeholder { color: white; }
::placeholder { color: white; }
#textarea {
    margin-bottom: 30px
}
#btn{
    margin-right: 0; 
    margin-left: auto;
    background: none;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    color: map-get($colores , alink);
    font-size: $ftn-16;
    &:hover{
        color: map-get($colores , shadowcolor);
        font-weight: 600;
    }
}
.contact-section-text{
    margin: $marg-contact-section-text;
}
.contact-iframe{
    margin: $marg-contact-iframe;
    box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
}