.main-foto-experience{
    background-image: url("../assets/GSH\ foto02a.jpg");
    @extend %ex-main-foto;
}
.blog-post {
    display: nth($display-form , 1);
    align-items: map-get($posicion-content , cent);
    background-color:map-get($colores , alink);
    padding: $pad-blog-post;
    box-shadow: 0 22px 128px rgba(0, 0, 0, 0.2);
    margin: $marg-blog-post;
}
.blog-post__img {
    position: relative;
    min-width: 320px;
    max-width: 288px;
    height: 368px;
    transform: translateX(-96px);
    img{
        display: nth($display-form , 5);
        width: 100%;
        height: 100%;
        object-fit: cover;
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
            opacity: 0.5;
        }
    }
}
.active2 {
    background-color: map-get($colores , active2);
}
.blog-post__date{
    span {
        display: nth($display-form , 5);
        color: #8e8c8c;
        font-weight: 600;
        margin: 8px 0;
    }
}
.blog-post__title {
    font-size: $ftn-40;
    margin: $marg-blog-post__title;
    text-transform: uppercase;
    color: var(--fontpcolor)
}
.blog-post__text{
    text-align: map-get($posicion-content , just);
    display: nth($display-form , 1);
    align-items: map-get($posicion-content , cent);
}
.blog-post__info{
    p {
        color: rgba(0, 0, 0, 0.7);
    }
}   
#hr-experience{
    margin: $marg_hr;
}
#experience-review {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #606c38, #9f8061, #c49e9b, #d4c4cd, #ebebeb);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    @include pad-marg(30px, auto);
}
#experience-review>ul, li {
    list-style: none;
    @include pad-marg(0, 0)
}
#experience-review>ul.review {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
}
#experience-review>ul.review h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    display: nth($display-form , 1);
}
#experience-review>ul.review li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: map-get($colores , backgroundcolor);
    display: nth($display-form , 1);
    flex-direction: column;
    justify-content: map-get($posicion-content , cent);
    align-items: map-get($posicion-content , cent);
}
#experience-review>ul.review li{
    &:first-child {
        opacity: 1;
    }
    &:target {
        opacity: 1;
    }
}
#experience-review>.menu {
    text-align: map-get($posicion-content , cent);
    @include pad-marg(0 5px, 20px);
    li {
        display: nth($display-form , 4);
        text-align: map-get($posicion-content , cent);
        padding: 0 5px;
        a{
            display: nth($display-form , 4);
            text-decoration: none;
            background-color: map-get($colores , footercolorshadow );
            padding: 10px;
            width: 3px;
            height: 3px;
            font-size: $ftn-20;
            border-radius: 100%;
            &:hover{
                scale: $scl-130;
                background-color: map-get($colores , footercolor);
            }
        }
    }
}
.experience-image, .review-image1{
    background-image: url("../assets/Experience/reseña01.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.review-image2{
    background-image: url("../assets/Experience/reseña02.jpg");
}
.review-image3{
    background-image: url("../assets/Experience/reseña03.jpg");
}
.checked {
    color: orange;
}