.main-foto-gallery{
    background-image: url("../assets/GSH\ foto05a.jpg");
    @extend %ex-main-foto;
}
/* lightboxs */
.row > .column {
    padding: 0 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 20%;
}
.modal {
    display: nth($display-form , 3);
    position: fixed;
    z-index: nth($z-eje , 4);
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000f2;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    @include pad-marg(0, auto);
    width: 90%;
    max-width: 1100px;
}
.modal-content2 {
    max-width: 480px;
}
.modal-content3, .modal-content4{
    max-width: 800px;
}
.close {
    color: map-get($colores , alink);
    position: absolute;
    top: 50px;
    right: 60px;
    font-size: $ftn-35;
    font-weight: bold;
    &:hover, &:focus{
        color: #999;
        text-decoration: none;
        cursor: pointer
    }
}
.mySlides, .mySlides2, .mySlides3, .mySlides4 {
    display: nth($display-form , 3);
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: map-get($colores , alink);
    font-weight: bold;
    font-size: $ftn-20;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: map-get($colores , numbertext);
    font-size: $ftn-12;
    padding: $pad-numbertext;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: $pad-caption-container;
    color: map-get($colores , alink);
} 
img.demo, img.demo2, img.demo3, img.demo4 {
    opacity: 0.6;
}
.actives,
.demo:hover, .demo2:hover, .demo3:hover, .demo4:hover {
    opacity: 1;
}
img.hover-shadow {
    transition: 0.3s;
} 
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* gallery-cards */
.gallery-cards{
    display: nth($display-form , 1);
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: map-get($posicion-content , cent);
    align-items: map-get($posicion-content , cent);
}
.phce {
    perspective: 1000px;
    position: relative;
    margin: $marg-phce;
}
.phce-a{
    font-family: $font-phce-a;
    font-size: $ftn-48;
    color: map-get($colores , alink);
    text-decoration: none;
    cursor: pointer;
}
.phce .content {
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}
.phce .content::before, .phce .content::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transform-style: preserve-3d;
}
.phce .content::before {
    background-image: var(--bg-image);
    background-size: cover;
}
.phce .content::after {
    background: var(--bg-overlay, none);
}
.phce:hover > .content::before {
    transform: scale(1.33) translateX(calc(-12.5% * var(--posX, 0))) translateY(calc(-12.5% * var(--posY, 0)));
}
.phce:hover > .content {
    transform: rotateX(calc(22.5deg * var(--posY, 0))) rotateY(calc(-22.5deg * var(--posX, 0)));
}
.phce:not(:hover) > .content, .phce:not(:hover) > .content::before {
    transition: transform var(--transition-duration, 500ms) var(--transition-timing-function, linear);
}
.card {
    width: min(500px, 100%);
} 
.card-1 {
    --bg-image: url(../assets/gallery/berdoom.jpg) ;
}
.card-2 {
    --bg-image: url(../assets/gallery/garden.jpg) ;
}
.card-3 {
    --bg-image: url(../assets/gallery/pool.jpg  ) ;
}
.card-4 {
    --bg-image: url(../assets/gallery/facilities.jpg) ;
}
.content {
    display: nth($display-form , 2);
    place-items: map-get($posicion-content , cent);
    min-height: 256px;
    padding: 32px;
    border-radius: 16px;
    font-family: $font-phce-a;
    font-size: $ftn-32;
    color: map-get($colores , alink);
    --bg-overlay: rgb(0 0 0 / .5);
}
.gallery-article{
    display: nth($display-form , 1);
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery-video{
    width: 50%;
    display: nth($display-form , 1);
    justify-content: map-get($posicion-content , cent);  
    margin-bottom: $marg-gallery-video;
    iframe{
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    }
}
.section-container-text-gallery{
    margin-bottom: $marg-section-container-text-gallery;
}
.btn{
    display: nth($display-form , 1);
    justify-content: map-get($posicion-content , spc-around);
}
.btn-input{
    font-family: $font;
    font-size: $ftn-16;
    padding: $pad-btn-input;
    background-color: map-get($colores , footercolorshadow);
    color: map-get($colores , alink);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    &:hover{
        color: map-get($posicion-content , alink);
        background-color: map-get($colores , fontmaincolor);
        scale: $scl-120;
    }
}