*{
    margin:0;
    padding: 0;
}
body{
    background-color: nth($colores , 5);    
}
.main-h1{
    text-align: map-get($posicion-content , cent);
    padding: $pad-main-h1;
    font-style: italic;
    text-shadow: 2px 2px 5px map-get($colores , fontpcolor);
    @extend %ex-main-h;
}
.main-h2{
    font-size: $ftn-18;
    @extend %ex-main-h;
}
.section-page{
    margin: $marg-section-page;
}
p, h2{
    text-indent: 32px;
    text-align: map-get($posicion-content , just);
}