.main-foto-home{
    background-image: url("../assets/GSH\ foto01.jpg");
}
.main-div{
    display: flex;
    justify-content: space-around;
    padding: 30px 100px;
}
.main-div img:hover{
    scale: 120%;
}
    /* SECTION */
.section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 30px;
    height: auto;
    width: auto;
}
.section-divfoto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-foto{
    width: 400px;
    padding: 30px;
    height: auto;
    background-size: cover;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.section-container-text{
    display: flex;  
    flex-direction: column;
    justify-content: center;
}
.section-text{
    text-align: justify;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-text p{
    color: var(--fontpcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}