.main-foto-home{
    background-image: url("../assets/GSH\ foto01.jpg");
}
.main-div{
    display: nth($display-form , 1);
    justify-content: map-get($posicion-content , spc-around);
    padding: $pad-main-div;
    img{
        &:hover{
            scale: 120%;
        }
    }
}
    /* SECTION */
.section{
    display: nth($display-form , 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: map-get($posicion-content, cent);
    row-gap: 30px;
    height: auto;
    width: auto;
}
.section-divfoto{
    display: nth($posicion-content, 1);
    justify-content: map-get($posicion-content, cent);
    align-items: map-get($posicion-content, cent);
}
.section-foto{
    width: 400px;
    padding: 30px;
    height: auto;
    background-size: cover;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.section-container-text{
    display: nth($display-form , 1);  
    flex-direction: column;
    justify-content: map-get($posicion-content, cent);
}
.section-text{
    text-align: map-get($posicion-content, just);
    padding: 30px;
    display: nth($display-form , 1);
    align-items: map-get($posicion-content , cent);
    justify-content: map-get($posicion-content , cent);
    p{
        color: map-get($colores , fontpcolor);
        font-family: $font;
        font-weight: 400;
        font-size: $ftn-16;
    }
}