@media screen and (max-width: 1200px) {
    .header{
        padding: 20px 80px 0 80px; }
    #hr{
        margin: 20px 50px;}
    .section-page{
        margin: 0 40px; }
    .navbar {
        width: 100%;
        max-height: 0;
        overflow: hidden; }
    .navbar-menu {
        flex-direction: column;
        align-items: map-get($posicion-content, cent);
        padding: 20px; }
    .header label {
        display: inline-flex;
        align-items: map-get($posicion-content, cent);
        cursor: pointer; }
    #toggler:checked ~ .navbar {
        max-height: 100%; }
    .gallery-article{
        flex-direction: column;
        align-items: map-get($posicion-content, cent); }
}
@media (min-width:768px) and (max-width: 992px){
    .section{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        row-gap: 0px; }
    .blog-post {
        max-width: 1120px;
        @include pad-marg(24px, 100px); }
    .blog-post__img {
        min-width: 256px;
        max-width: 288px;}
    .section-page{
        margin: 0 40px;}
    .contact-board{
        margin: 40px; }
    .contact-section-text{
        margin: 0 40px; }
    .contact-article-form{
        flex-direction: column;
        align-items: map-get($posicion-content, cent); }
}
@media (max-width:768px) {
    .section{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        row-gap: 0px; }
    .container-exp{
        column-gap: 50px; }
    .blog-post {
        padding: 40px;
        flex-direction: column;
        max-width: 600px;  }  
    .blog-post__img {
        min-width: 384px;
        max-width: 384px;
        transform: translate(0, -80px); }
    .contact-article-form{
        flex-direction: column;
        align-items: map-get($posicion-content, cent); }
    .section-page{
        margin: 0 40px;}
    .footer-top{
        justify-items: map-get($posicion-content, cent);
        margin-bottom: 30px; }
    .footer-list-item{
        text-align: map-get($posicion-content, cent); } 
    .contact-board{
        flex-direction: column;
        margin:40px; }
    .contact-section-text{
        margin: 0 40px; }
    .contact-board-div{
        border-top: 1px solid map-get($colores , fontpcolor);
        border-bottom: 1px solid map-get($colores , fontpcolor); 
        border-left: 0;
        border-right: 0; }
    .iconos-s{
        display: nth($display-form , 1);
        justify-content: map-get($posicion-content, cent);
        gap: 25px;
        margin-top: 10px; }
    .icon-linkedin, .icon-facebook, .icon-instagram, .icon-whatsapp {
        position: initial; }
    .contact-iframe-p{
        display: none; }
    .contact-iframe{
        width: 400px;
        height: 250px; }
}
@media (max-width:576px){
    .header{
        padding: 20px 20px 0 20px; }
    #hr{
        margin: 20px 20px;}
    #header-logo-xl{
        display: none; }
    #header-logo-xs{
        display: block; }
    .section-foto{
        width: 300px;
        padding: 15px; }
    .section-text{
        padding: 30px 20px; }
    .section-page{
        margin: 0 10px; }
    .footer{
        padding: 50px 20px 0 20px; }
    .blog-post{
        @include pad-marg(8px, 130px 20px); }
    .btn-input{
        margin-bottom: 0; }
    .main-div{
        gap: 15px; }
    #br{
        display: nth($posicion-content , 3); }     
}
@media (max-width:350px){
    .iconos-s{
        flex-wrap: wrap;
        align-items: map-get($posicion-content , cent); }
    .footer p{
        font-size: $ftn-12;}
    .footer-top-div{
        width: 180px; }
    .footer-logo{
        width: 200px;}
    .footer-top{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));}
    .section-foto{
        width: 150px;}
    .main-div{
        flex-wrap: wrap;
        padding: 30px 30px}
    .container-exp .card-exp .face{
        width: 250px;}
    .contact-iframe{
        width:250px;}
    .contact-section-text{
        margin: 0 20px;}
    .contact-board-booking{
        font-size: 12px;}
    #imagen_big{
        display: nth($display-form , 3);}
    #imagen_small{
        display: initial;}
    .container-exp .card-exp .face{
        height: 163px;}
    .blog-post__img{
        min-width: 250px;
    }
}