.main-foto-services{
    background-image: url("../assets/GSH\ foto04a.jpg");
    @extend %ex-main-foto;
}
.face-span{
    @include pad-marg(5px, $marg-face-span);
    display: nth($display-form , 4);
    text-decoration: none;
    font-weight: 900;
    color: map-get($colores , face-services);
}
.container-exp{
display: nth($display-form , 1);
flex-wrap: wrap;
justify-content: map-get($posicion-content , spc-around);
column-gap: 100px;
}
.container-exp .card-exp{
position: relative;
cursor: pointer;
}
.container-exp .card-exp .face{
width: 300px;
height: 200px;
transition: 0.5s;
}
.container-exp .card-exp .face.face1{
position: relative;
background: map-get($colores , face-services);
display: nth($display-form , 1);
flex-direction: column;
gap: 10px;
justify-content: map-get($posicion-content, cent);
align-items: map-get($posicion-content, cent);
z-index: 1;
transform: translateY(60px);
}
.container-exp .card-exp:hover .face.face1{
    background: map-get($colores , footercolorshadow);
    transform: translateY(0);
}
.container-exp .card-exp .face.face1 .content-exp{
    opacity: 1;
    transition: 0.5s;
}
.container-exp .card-exp:hover .face.face1 .content-exp{
    opacity: 1;
}
.container-exp .card-exp .face.face1 .content-exp{
    @include pad-marg(0, 10px 0 0);
    color: map-get($colores , alink);
    text-align: map-get($posicion-content, cent);
    font-size: $ftn-24;
}
.container-exp .card-exp .face.face2{
    position: relative;
    background: map-get($colores , alink);
    display: nth($display-form , 1);
    justify-content: map-get($posicion-content, cent);
    align-items: map-get($posicion-content, cent);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-60px);
}
.container-exp .card-exp:hover .face.face2{
    transform: translateY(0);
}
.container-exp .card-exp .face.face2 .content-exp p{
    @include pad-marg(0, 0);
}
.container-exp .card-exp .face.face2 .content-exp a{
    display: nth($display-form , 4);
    text-decoration: none;
    font-weight: 900;
    color: map-get($colores , face-services);
    @include pad-marg(5px, $marg-face-span);
}