$colores: (
    fontmaincolor: #6e5924,
    fontpcolor: #353535,
    footercolor: #1F2A13,
    footercolorshadow: #606C38,
    backgroundcolor: #EBEBEB,
    alink: #fff,
    shadowcolor: black,
);
$posicion-content:(
    fl-start: flex-start,
    fl-end: flex-end,
    spc-around: space-around,
    spc-between: space-between,
    spc-evenly: space-evenly,
    cent: center,
    just: justify,
);