// fonts
$font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$ftn-24: 24px;
$ftn-20: 20px;
$ftn-18: 18px;
$ftn-14: 14px;

// padding
$pad-header: 20px 150px 0 150px;
$pad-footer: 50px 80px 0 80px;
$pad-footer-container: 0 30px;
$pad-footer-bottom: 20px;
$pad-main-h1: 30px;

// margin
$marg-header: 0 auto;
$marg_hr: 20px 100px;
$marg-footer-container: auto;
$marg-footer-title_top-div_hr-divider: 12px 0;
$marg-section-page: 0 100px;

// gap
$gap-space: 25px


// agregar los marg y pad para medias!!!!